@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

/* :root {
  --background: rgba(86, 86, 86, .75);
} */
*, *::before, *::after {
  /* makes padding easier to deal with  */
  box-sizing: border-box;
  transition: all ease-in-out 450ms;
}

body {
  margin: 0;
  /* background: #222; */
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: 400;
}

.quote {
  margin: 1em .0em 1em 0em;
  font-style: italic;
  /* background: #222; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* text-align: center; */
  font-weight: 400;
}

#call{
  background-color: rgba(249, 195, 179, 0.32);

}

/* Press release formatting */
.pullquote {
  margin: 1em .8em 1em .8em;
  font-style: italic;
  /* background: #222; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* text-align: center; */
  font-weight: 400;
}

.prlist {
  margin: .5em 0em .5em 0em;
  font-weight: 400;
}

.smem {
  font-weight: 600;
  font-style: normal;
}

.presshead {
  margin: 1em 0em .5em 0em;
  font-size: 1.5rem;
  font-weight: 600;
}

.presssubhead {
  margin: .2em 0em 1em 0em;
  font-style: italic;
}

.caption {
  text-align: right;
}



/* fron the new tut */
.content {
  height: 200vh;
  /* background-image: url(//unsplash.it/1000/1000); */
  /* background-color: #FFFF; */
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 90em;
  margin: 0 auto;
}

.container2 {}

.clearfix::after,
section::after,
footer::after {
  content: '';
  display: block;
  clear: both;
}

/* Column system
=================== */
[class^=col-] {
  width: 100%;
  margin-top: 1em;
}

[class^=col-]:first-child {
  margin-top: 0;
}

.col-1 {
  width: 33.333334%;
  float: left;
}

@media (min-width: 40rem) {
  [class^=col-] {
    float: left;
    padding: 0 .5em;
    margin-top: 0;
  }

  [class^=col-]:first-child {
    padding-left: 0;
  }

  [class^=col-]:last-child {
    padding-right: 0;
  }

  .col-3 {
    width: 50%;
  }

  .col-1 {
    width: 16.6666%;
  }
}

/* typography
=================== */
h1 {
  font-weight: 200;
  font-size: 1.1rem;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-weight: 100;
  font-size: 1.8rem;
  text-transform: capitalize;
  letter-spacing: .3rem;
  color: rgb(101, 86, 127);
  /* color: rgba(245, 72, 116, .9); */
  margin-top: 1.5em;
  margin-bottom: .35em;
}

h3 {
  font-weight: 100;
  font-size: 1.4rem;
  /* text-transform: capitalize; */
  /* letter-spacing: .3rem; */
  color: rgb(103, 77, 149);
  /* color: rgba(245, 72, 116, .9); */
  /* background: linear-gradient(to right, #f05ef0, #f54874, #6928d8, #490f90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  margin-top: 1.5em;
  margin-bottom: .35em;
  font-weight: 400;
}

  .underline {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(245, 72, 116, 3);

}

.emphasis {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  color: #f54874;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

p:last-of-type {
  margin-bottom: 0;
}

.tagline {
  color: black;
  font-size: 1.3rem;
  margin-bottom: 0em;
  /* font-weight: 900; */
  margin-top: .5em;
  margin-left: 2em;
  margin-right: 2em;
  line-height: 1.3em
}

.tagline span {
  font-weight: 300;
  display: block;
  font-size: .7em;
}

.title-cta {
  margin: 0 0 .5em;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width:60rem) {
  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  ul {
    font-size: 1.1rem;
  }

  .title {
    font-size: 3.7rem;
  }

  .emphasis {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    color: #f54874;
    top: .2em;
    padding: 0.25em;
  }
}

/* buttons */
.button {
  display: inline-block;
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  padding: .7em 4.6em;
}

.button-credit {
  display: inline-block;
  font-size: .7rem;
  text-align: right;
  color: #D3D3D3;
  font-weight: lighter;
  text-shadow: 0px 0px 9px black;
  /* text-transform: uppercase; */
  border-width: 0px;
  padding: 0em 0em;
}

@media (min-width: 60rem) {
  .button {
    font-size: 1.2rem;
  }
}

.button-large {
  font-size: 1.5rem;
  font-weight: 600;
}

.button-accentcolor {
  color: #3f3f3f;
  border-color: black;
}

.button-accentcolor:hover,
.button-accentcolor:focus {
  background: #515151;
  color: #232323;
}

.button-dark {
  color: #232323;
  border-color: #232323;
  margin: 2rem;
}

.button-dark:hover,
.button-dark:focus {
  background: #232323;
  color: #bfc9c3;
}

/* header
=================== */
header {
  margin: 0em;
  background-color: rgba(86, 86, 86, .75);
  /* background: var(--background); */
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 2em;
} */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
  outline: 3px solid rgba(0, 50, 0, .7);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  /* background: var(--background); */
  background-color: rgba(86, 86, 86, .75);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1.2em;
  margin-left: 1.2em;
}

nav a {
  color: #FFF;
  text-decoration: none;
  font-size: .9rem;
  /* text-transform: uppercase; */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.wiggle-logo {
  width: 10rem;
  margin-top: 6rem;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .wiggle-logo {
    grid-column: 2 / 3;
    width: 20rem;
    /* margin: 10rem; */
  }

  .circle-logo {
    grid-column: 2 / 3;
    width: 3rem;
  }

  nav {
    /* this causes issues with Edge, since it's unsupported */
    /* // all: unset;  */
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* head-home
=================== */
.home-head {
  /* background-image: url(img/head-bg.jpg); */
  /* background-size: cover; */
  /* background-position: center; */
  /* padding: 1em 0; */
  /* color: white; */
}

@media (min-width: 60rem) {
  .home-head {
    /* height: 150vh; */
    padding-top: 17vh;
    padding-bottom: 17vh;
  }
}

/* head-home 2
=================== */
.home-head-2 {
  /* background-image: url(img/head-bg.jpg); */
  background-size: cover;
  background-position: center;
  padding: 3em 0;
  color: white;
}

@media (min-width: 60rem) {
  .home-head-2 {
    padding: 2rem;
    height: 8rem;
  }
}

.home-about {
  /* background-color: #FFF; */
}

.home-about-textbox {
  text-align: left;
  background-color: white;
  padding: 4em;
  outline: 1px solid #f54874;
  outline-offset: -2.5em;
  color: #232323;
  position: relative;
}

.home-about-textbox h1 {
  font-size: .8rem;
  color: #f54874;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2.1em;
  background: #FFF;
  padding: 0.25em;
}

@media (min-width: 37rem) {
  .home-about-textbox {
    padding: 4.5em 9.5em 4.5em 9.5em;
  }
}

@media (min-width: 60rem) {
  .home-about-textbox {
    padding: 4.5em 20.5em 4.5em 20.5em;
  }

  .home-about-textbox h1 {
    font-size: 2.2rem;
    top: .2em;
    padding: 0.25em;
  }
}

/* portfolio
=================== */
.portfolio {
  margin: 0em 0 0;
}

.port-item {
  margin: 0;
  position: relative;
}

.port-item img {
  display: block;
  width: 100vw;
}

.port-desc {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left: 0em;
  right: 0em;
  /* color: #FFF; */
  background: rgba(0, 0, 0, 0);
  padding-bottom: 0em;
}

.port-desc p {
  margin: 0em;
}

@media (min-width: 37rem) {
  .port-item {
    width: 50%;
    float: left;
  }
}

@media (min-width: 60rem) {
  .port-item {
    width: 33.3333334%;
    overflow: hidden;
  }

  .port-desc {
    transform: translateY(150%);
  }

  .port-item:hover .port-desc {
    transform: translateY(0%);
  }
}

/* photo wall
=================== */
#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

body {
  margin: 0;
  padding: 0;
}

/* CTA
=================== */
/* call to action */
.cta {
  background-color: #FFF;
  padding: 5em 0;
}

/* Contact
=================== */
.contact {
  text-align: center;
  object-position: center;
  margin-top: .5rem;
  /* Add a top margin */
  margin-bottom: 1rem;
  /* Bottom margin */
}

/* Footer
=================== */
footer {
  padding: 1em;
  background-color: rgba(86, 86, 86, .15);
  text-align: center;
  /* position: fixed; */
  z-index: 999;
  width: 100%;
}

.feather {
  width: 24px;
  height: 24px;
  margin-left: .75em;
  margin-right: .75em;
  margin-top: .75em;
  margin-bottom: .75em;
  opacity: 0.3;
}

.feather:hover {
  opacity: 0.7;
}

/* Forms
==================== */
.hidden {
  visibility: hidden;
  display: none;
}

form * {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.075em;
  font-weight: 300;
  /* cursor: pointer; */
  text-decoration: none;
  width: 100%;
  position: relative;
  margin: 15px 5px 15px 5px;
  padding: .5rem;
}

.input-fields {
  outline: none;
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: .15em;
}

.button-form {
  background-color: #e7e7e7;
  color: #232323;
  border-color: #232323;
}

.button-form:hover,
.button-form:focus {
  background: #232323;
  color: #bfc9c3;
  border-color: magenta;
}

input:focus,
textarea:focus {
  border-color: magenta;
}

input focus {
  border: 1px solid #999;
}

input:focus {
  outline: none;
}

form .largetextarea {
  /* resize: none; */
  vertical-align: top;
  min-height: 140px;
  padding-top: 10px;
}

figure {
  display: flex;
  flex-direction: column;
}


.playbuttondiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}


@media screen and (min-width: 981px) {
  .playbuttondiv{
    font-size: 2rem;
  }
}

.playbutton {
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10%; */
  
  padding: .5rem;
  color: white;
  /* height: 8rem; */
  /* width: 100%; */
  background-color: #f54874;
  /* outline: 5px double #808080; */
}

@media screen and (min-width: 981px) {
  #playbutton{
    /* height: 6rem; */
    /* width: 100%; */
    margin: 0;
  }
}

.playbutton:hover{
  background-color: #7242c7;
  cursor: pointer;
}

.playbutton::before{
  /* content: "Drone World"; */
  /* border-radius: 50%; */
  /* color: blue; */
  /* font-size: 100rem; */
  /* border-radius: 50%; */
  /* position: absolute; */
  /* width: 1rem; */
  /* height: 1rem; */
  /* top: 1rem; */
  /* left: 1rem; */
}



.playbuttoncaption{
  font-size: 1rem;
  text-align: center;
  color: #f54874;
}
