* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-top: 3rem;
  text-align: center;
  font-size: 3rem;
}
header p {
  font-size: 25px;
}

.pads {
  background: none;
  /* width: 100%; */
  display: flex;
  position: absolute;
  margin-top: 45.8vh;
}

/* select all the divs inside the pads */
.pads > div {
  height: 2rem;
  width: 2rem;
  /* flex: 1; */
  margin: .25rem;
  border-radius: 100%;
  /* position: absolute; */

}

.visual > div {
  position: absolute;
  /* start the bottom at o */
  bottom: 50%;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: -5%;
    left: -5%;
  }

  25% {
    bottom: 50%;
    left: 50%;
  }


  50% {
    bottom: 90%;
    left: 50%;
  }


  75% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: -5%;
    left: 105%;
  }
}
