* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 4rem;
}

.pads {
  background: none;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  position: absolute;
  margin-top: 45.8vh;
  justify-content: space-evenly;
}

/* select all the divs inside the pads */
.pads>div {
  height: 10vh;
  width: 10vh;
  /* flex: 1; */
  margin: .25rem;
  border-radius: 100%;
  outline-offset: -1rem;
  /* position: absolute; */
}

.visual>div {
  position: absolute;
  /* start the bottom at o */
  bottom: 50%;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

/* @keyframes jump {
  0% {
    bottom: -5%;
    left: -5%;
  }

  25% {
    bottom: 50%;
    left: 50%;
  }


  50% {
    bottom: 90%;
    left: 50%;
  }


  75% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: -5%;
    left: 105%;
  }
} */

@keyframes jump {
  from {
    transform: rotate(1deg) translate(750px) rotate(-120deg);
  }

  to {
    transform: rotate(680deg) translate(-10px) rotate(-80deg);
    opacity: .5;
    height: 0rem;
    width: 0rem;
  }
}
